$breakpoints-values: (
  mobile-s: 320,
  mobile-m: 480,
  mobile-l: 640,

  tablet-s: 768,
  tablet-m: 800,
  tablet-l: 980,

  desktop-s: 1024,
  desktop-m: 1200,
  desktop-l: 1400
) !default;

$breakpoints-ie8: false!default;
