$breakpoints-values: (
  mobile-small: 320,
  mobile-medium: 480,
  mobile-large: 640,

  tablet-small: 768,
  tablet-medium: 800,
  tablet-large: 980,

  desktop-small: 1024,
  desktop-medium: 1200,
  desktop-large: 1400
) !default;

$breakpoints-ie8: false!default;
