@charset "UTF-8";

@font-face {
  font-family: "breakpoints";
  src:url("../icons/breakpoints.eot");
  src:url("../icons/breakpoints.eot?#iefix") format("embedded-opentype"),
    url("../icons/breakpoints.woff") format("woff"),
    url("../icons/breakpoints.ttf") format("truetype"),
    url("../icons/breakpoints.svg#breakpoints") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "breakpoints" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "breakpoints" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\61";
}
.icon-archive:before {
  content: "\62";
}
.icon-mobile:before {
  content: "\63";
}
.icon-tablet:before {
  content: "\64";
}
.icon-desktop:before {
  content: "\65";
}
