@function _breakpoints-values($value) {
  // try to get the value from the pre-existing breakpoints
  @if map-has-key($breakpoints-values, $value) {
    $value: map-get($breakpoints-values, $value);
    @if unitless($value) {
      $value: $value * 1px;
    }
  }

  @if type-of($value) == string {
    $value: _string-to-number($value);
  }

  @if type-of($value) != number {
    @return false;
  }

  @return $value;
}
